/* Custom style to make Leaflet popups transparent and remove white background/border */
.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background: transparent !important;
  box-shadow: none !important;
  border: none !important;
}

.leaflet-popup-content {
  margin: 0 !important;
  background: transparent !important;
  box-shadow: none !important;
  border: none !important;
}
